
main .specialists-table-view table tbody tr td a.btn, 
main .specialists-table-view .table tbody tr td a.btn{
    color: white;
}

main .specialists-table-view table tbody tr td a.btn:hover,
main .specialists-table-view table tbody tr td a.btn:hover{
    text-decoration: none;
}

main .specialists-table-view table tbody tr td a.btn-dark-blue-f:hover,
main .specialists-table-view .table tbody tr td a.btn-dark-blue-f:hover {
    color: #00417c;
}

main .specialists-table-view table tbody tr td a.btn-dark-red-f:hover,
main .specialists-table-view .table tbody tr td a.btn-dark-red-f:hover {
    color: #a8001f;
}

label {
    font-weight: 500;
    text-transform: capitalize;
}