<!DOCTYPE html>
<html lang="en">



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phòng khám tim mạch Cần Thơ</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Assets/Main/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/css/style.css">

    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="~/Assets/Main/css/responsive.css">

    <!-- Favicon -->
    <link href="~/Assets/Main/img/favicon.png" rel="shortcut icon" type="image/png">

</head>

<body>

    <div class="preloader"></div>

    <!-- Header navbar start -->
    @RenderPage("Components/_NavBar.cshtml")
    <!-- Header navbar end -->

    @RenderBody()

    <!-- Footer Style start -->
    @RenderPage("Components/_Footer.cshtml")
    <!-- Footer Style End -->


    <a href="#" class="scrollup"><i class="pe-7s-up-arrow" aria-hidden="true"></i></a>
    <!-- jQuery -->
    <script type="text/javascript" src="~/Assets/Main/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="~/Assets/Main/js/bootstrap.min.js"></script>

    <!-- all plugins and JavaScript -->
    <script type="text/javascript" src="~/Assets/Main/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/css3-animate-it.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/gallery.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/player.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/retina.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/comming-soon.js"></script>

    <!-- Main Custom JS -->
    <script type="text/javascript" src="~/Assets/Main/js/script.js"></script>


</body>



</html>