<footer class="bg-faded col-12 text-center">
    <div class="footer-item footer-widget-one">
        <img alt="" src="~/Assets/Main/img/logo.png" class="footer-logo">
        <p>Tận tâm - Chuyên nghiệp - An toàn</p>

        <ul class="address">
            <li><i class="pe-7s-call"></i>Phone: 0123 456 789</li>
            <li><i class="pe-7s-mail"></i><a href="mailto:">Email: lthngan662@gmail.com</a></li>
        </ul>

        <hr>
        <ul class="social-icon bg-theme">
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
